.headerContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #502d1d;
}
.headerContainer > .link {
  color: rgb(255, 255, 255);
  font-size: 42px;
  text-decoration: none;
}
